*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul{ 
    list-style: none;
}
a{
    text-decoration: none;
}
/***********FONTS*************/
@font-face {
    font-family: 'Noodle';
    src: url('../font/BigNoodleTitling.eot');
    src: url('../font/BigNoodleTitling.eot?#iefix') format('embedded-opentype'),
        url('../font/BigNoodleTitling.woff2') format('woff2'),
        url('../font/BigNoodleTitling.woff') format('woff'),
        url('../font/BigNoodleTitling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*****fin FONTS******/
/*****HTML****/
html{
    scroll-behavior: smooth;
}
/*****fin HTML*****/
/*****BODY****/
body{
    font-family: "Noodle";
}
/*****Fin BODY****/
/*****HEADER****/
header{
    height: 100vh;
    background: url(../img/fond.jpg) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav{
    position: fixed;/*toujours dire où je positionne (top left)*/
    top:50%;
    left: 5%;
    background: rgba(255, 255, 255, 0.7);
    transform: translateY(-50%);
}
header nav ul li{
    padding: 10px 20px;
    border-bottom: 2px solid;
}

header nav ul li:last-of-type{
    border-bottom: none;
}

header nav ul li a{
    font-family: 'Noodle';
    color: black;
    text-transform: uppercase;
}

header div{
    width: 20vw; /*taille responsive*/
    height: 20vw; /*taille responsive*/
    position: relative;
    border-radius: 50%;

}
header div img{
    height: 100%;
    position: absolute;
}

/***** Fin HEADER****/
/***
****
***/
/*****MAIN****/
main{
    display: flex;
    justify-content: flex-end;
}
section {
    width: 80%;
    padding: 100px 0; 
    display: flex;
    flex-wrap: wrap;
}
section>div{
    width: 250px;
    height: 250px;
    margin: 25px;
}
section>div>div img{
    height: 100%;
    /*margin: 5px;*/
}
section>div>div{
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
section>div>div>div{
    width: 250px;
    height: 250px;
    background: rgba(0, 0, 0, 0.7);
    /*Centrer le texte enfant*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: absolute;
    top: 0; /*-200px pour la mettre en haut*/
    left:0; /*-200px pour la mettre à gauche*/
    transition: 0.5s;
    
}
section>div>div>div>p{
    text-align: center;
    font-size: x-large;
}
section>div h2{
    height: 20%;
    display: flex;
    align-items: center;
}
.haut>div{
    transform: translateY(-100%);
}
.haut:hover>div{
    transform: translateY(0);
}
.droite>div{
    transform: translateX(100%);
}
.droite:hover>div{
    transform: translateX(0);
}
.bas>div{
    transform: translateY(100%);
}
.bas:hover>div{
    transform: translateY(0);
}
.gauche>div{
    transform: translateX(-100%);
}
.gauche:hover>div{
    transform: translateX(0);
}
/***** Fin MAIN****/
/***
****
***/
/*****FOOTER****/
footer{
    background-color: #333;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px 0;
}
.coordonnees{
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    margin-bottom: 50px;
}
.bloc-g{ /*attention on pourrait aussi cible le 1er menu!*/
    border-right: 2px solid white;
    padding-right: 25px;
}
.bloc-g img{
    width: 150px;
    height: 150px;
    margin: 20px;
}
.bloc-d{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
}
footer>div>div>p{
    display: block;
}
.reseaux a{
    margin: 0 15px;
}
/***** Fin FOOTER****/
