*{
    margin: 0;
    padding: 0;
}
ul{ 
    list-style: none;
}
a{
    text-decoration: none;
}
/***********FONTS*************/
@font-face {
    font-family: 'Noodle';
    src: url('../font/BigNoodleTitling.eot');
    src: url('../font/BigNoodleTitling.eot?#iefix') format('embedded-opentype'),
        url('../font/BigNoodleTitling.woff2') format('woff2'),
        url('../font/BigNoodleTitling.woff') format('woff'),
        url('../font/BigNoodleTitling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*****fin FONTS******/
/*****HTML****/
html{
    scroll-behavior: smooth;
    font-family: "Noodle";
}
/*****fin HTML*****/
/*********/
/*****HEADER****/
header{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/fond.jpg) center;
}
header div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}
header div img{
    height: 100%;
    position: absolute;
}
header nav{
    position: fixed;
    top:50%;
    left: 5%;
    transform: translateY(-50%);
}
header nav ul li{
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-bottom: 1px solid;
}
/***** Fin HEADER****/
/***
****
***/
/*****MAIN****/
main{
    display: flex;
    justify-content: flex-end;
}
section {
    width: 80%;
    padding: 100px 0; 
    display: flex;
    flex-wrap: wrap;
}
section>div{
    width: 250px;
    height: 250px;
    margin: 40px;
}
section>div>div{
    height: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
section>div>div img{
    /*height: 100%;*/
    margin: 5px;
}
section>div h2{
    height: 20%;
    display: flex;
    align-items: center;
}
section div>p{
    display: none;
}
/***** Fin MAIN****/
/***
****
***/
/*****FOOTER****/
/***** Fin FOOTER****/
